{% extends "Blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      
      <div class="media">
        <!-- <img class="account-covr-img" src="{{ user.profile.cover_img.url }}" > -->
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        
        <br>
        <div class="media-body">
          
          <h2 class="account-heading">{{ user.username }}</h2>
          <hr>
          <p class="text-secondary"><i>{{ user.email }}</i></p>
          <p class="text-secondary">{{ user.profile.dob }}</p>
          <p class="text-secondary">{{ user.profile.bio }}</p>
         
          
        </div>
      </div>
      

<!--       <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend> 
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="class-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form> -->
    </div> 
  

{% endblock content %}