{% extends "Blog/base.html" %} {% block content %}
<br />
<br />
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="particle"></div>
<div class="container">
  <h1 align='center' class='about'>About Us⚡</h1>
  <hr>
  <br />
  <br />
  <div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>
  <h2>Inspiration🐱‍👤</h2>
  <br />

  <p class="ins-text">
    At Yes Network we always wanted best. Not just for us, but for everyone.
    Surely we got motivated by the Tech giants like Facebook, Twitter, Reddit
    etc. Our motive was one single thing i.e to make it simple and easy for
    everyone. On our journey to making a beautiful network with zero bias we
    struggled and learnt a lot from people on the internet👩🏻👨🏿🧓🏿👱🏽‍♀️🧓🏼👮🏾‍♂️👳🏾‍♂️👨🏻👨🏽‍🎓. We
    believe we have a long way to go and learn a lot from others.
  </p>
</div>
<br />
<div class="container">
  <h2>Guidelines/ Protocols🌏</h2>
  <br />
  <p>
    Surely we have our network open to everyone but after a legal age of 13. We
    will soon implement a Report🔎 method to keep our network a more safer place
    than before. For now the anyone can post anything on our network and share
    their thoughts and can see and react to other posts.
  </p>
</div>
<br />
<div class="container">
  <h2>Timeline📌</h2>
  <br />
  <p>
    We Started building our network in the not the best time of our life. The
    world is still fighting with Covid-19 and thats exactly how we looped onto
    Yes! Network. We made our first model in 16th June 2020🎨 We never thought
    this would become a thing and be so great. We just kept on asking our
    queries on the internet and the internet kept on answering. This is by the
    people on the innternet for the people of interet. There is no rules on
    which we filter network. Feel free and become a part of our community. We
    have made this a open source so that people around the world can reach us
    and make our network a little better place to be in.
  </p>
</div>
<br />
<div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
<div class="container">
  <h2>Developer👨🏻‍💻</h2>
  <br />
  <p>
    We curretly have no members and its only one developer working Full Stack on
    the network but we are happy to share that we open to your contributions.
    Feel free to go to our Github Repo and become a Yes! Developer today. A lot
    of great things coming around the corner.
  </p>
</div>

<br />
<div class="container about">
  <h2>Career🍕</h2>
  <br />
  <p>
    Follow/ Star us on <a href="#" class="readnow" style="text-decoration: none"><i class="fab fa-github"></i> Github </a> or drop a mail at <h3>yesabhishek@protonmail.com</h3>
  </p>
</div>
<br />
{% endblock %}
