{% extends "Blog/base.html" %}

{% block content %}




<div class="container">

    <h1> About </h1>
    <br>
    <h2> History </h2>
    <p>
        It was founded as Institute of Technical Education and Research (ITER) in 1997 at Bhubaneswar and it received AICTE approval for B.Tech. Since its inception it was affiliated to Utkal University. Subsequently, it was affiliated to Biju Patnaik University of Technology (BPUT) between 2002 and 2007.
Recognizing its contribution to technical and professional education the University Grants Commission (UGC), in 2007, declared Siksha 'O' Anusandhan as a Deemed to be University by the U/S 3 of the UGC Act, 1956. In 2007, the Institute of Technical Education and Research (ITER), Bhubaneswar became a constituent institute of Siksha O Anusandhan University. Institutes, schools, and departments of SOA University are spread over 200 acres (0.81 km2) campuses in the city of Bhubaneswar.

SOA has been granted Category-II Graded Autonomy Status by University Grants Commission in 2018.
    </p>
</div>


<div class="container">
    <h2> Academics </h2>
    <p>
        Siksha 'O' Anusandhan has nine degree-granting schools and institutes[2] that offer undergraduate programs in engineering, medicine, pharmacy, business, nursing, biotechnology, agriculture and law; graduate programs in engineering, medicine, pharmacy, business, nursing, biotechnology, science, humanities, environment, nano technology, materials science, agriculture and law;[3] and doctoral degrees in the above areas.[4]

    </p>
</div>

<div class="container">
    <h2> Admissions </h2>
    <p>
        Siksha ‘O’ Anusandhan Admission Test (SAAT), a national level entrance test is conducted by the university every year to select bright students. The test is being conducted for undergraduate and postgraduate programs offered through its constituent institutes/schools.
The university grants scholarships to meritorious and needy students.
    </p>
</div>

<div class="container">
    <h2> Accreditation </h2>
    <p>
        SOA has been accredited (2nd Cycle) by the National Assessment and Accreditation Council (NAAC) with a score of 3.35 and an 'A+' grade. Three Engineering Programs (Electrical Engineering, Mechanical Engineering & Electronics and Communication Engineering) have been accredited by Accreditation Board of Engineering and Technology (ABET), USA.

    </p>
</div>

</br>
{% endblock %}



