{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Blog/css/style.css' %}">
<!-- Favicon icons below --> 
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'Blog/img/logo/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'Blog/img/logo/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'Blog/img/logo/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'Blog/js/site.webmanifest' %}">
<script defer src="{% static 'Blog/js/app.js' %}"></script>
<script src="https://kit.fontawesome.com/864c08f8dd.js" crossorigin="anonymous"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ultra&display=swap" rel="stylesheet">

<!doctype html>
<html lang="en">
  <head>
  {% if title %}    
    <title> yes! Network-{{ title }}</title>
  {% else %}
    <title>yes! Network </title>
  {% endif %}
  </head>
  <body data-theme="light">
   
    <!-- Navbar code starts here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
      <a class="navbar-brand" href="{% url 'blog-home' %}" >
        <i class="fas fa-kiwi-bird"></i><i> yes! Network </i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>   
        <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto"> 
          
        {% if user.is_authenticated %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Theme</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="light" class="dropdown-item" href="#">light</a>
            <a id="dark" class="dropdown-item" href="#">dark</a>
          </div>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url  'post-create' %}"><i class="fas fa-plus-circle"></i> Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url  'blog-home' %}"><i class="fas fa-home"></i> Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url  'blog-security' %}"><i class="fas fa-cogs"></i> Setting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url  'profile' %}">
            <img class="rounded-circle" src="{{ user.profile.image.url }}" width="25" height="25" ></img> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>

        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url  'blog-home' %}"><i class="fas fa-home"></i> Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url  'blog-about' %}"><i class="far fa-question-circle"></i> About</a>
          </li>
          <li class="nav-item"></li>
              <a class="nav-link " href="{% url  'register' %}"><i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log in</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
      <!-- Navbar code ends here -->


      <main role="main" class="container">
        <div class="row">
          <div class="col-md-12">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
                
              {% endfor %}
            {% endif %}
            <br>
            {% block content %}
            
            







            {% endblock %}



          </div>
        </div>
      </main> 

      


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>