{% extends "Blog/base.html" %}
{% block content %}

<h1>⚙Settings</h1> 
<hr>
<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">General Settings</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Account Settings</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Privacy Settings</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Delete your account</a>
        
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">The general settings page sets a lot of options that will change the look & feel of the whole application or that are needed for some special purposes.</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Account settings . Customize your Wikipedia experience Change your preferences Change your signature Change your username Confirm your email address Delete your account Log in (troubleshooting) User page help User page design Customizing your display with CSS (advanced web design knowledge required)
         <br> <button class="btn-primary">Reset password</button>
         
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Account settings . Customize your Wikipedia experience Change your preferences Change your signature Change your username Confirm your email address Delete your account Log in (troubleshooting) User page help User page design Customizing your display with CSS (advanced web design knowledge required)</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Account settings . Customize your Wikipedia experience Change your preferences Change your signature Change your username Confirm your email address Delete your account Log in (troubleshooting) User page help User page design Customizing your display with CSS (advanced web design knowledge required)</div>
      </div>
    </div>
  </div>
{% endblock %}