body {
  background: #ecf3f3;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(56vw, 35vh, 34px);
            transform: translate3d(56vw, 35vh, 34px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(56vw, 35vh, 34px);
            transform: translate3d(56vw, 35vh, 34px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.22;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(69vw, 29vh, 60px);
          transform: translate3d(69vw, 29vh, 60px);
  background: #d9b526;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(25vw, 34vh, 94px);
            transform: translate3d(25vw, 34vh, 94px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(25vw, 34vh, 94px);
            transform: translate3d(25vw, 34vh, 94px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.58;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(42vw, 73vh, 99px);
          transform: translate3d(42vw, 73vh, 99px);
  background: #26d9b2;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(77vw, 24vh, 40px);
            transform: translate3d(77vw, 24vh, 40px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(77vw, 24vh, 40px);
            transform: translate3d(77vw, 24vh, 40px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.46;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(33vw, 16vh, 57px);
          transform: translate3d(33vw, 16vh, 57px);
  background: #a626d9;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(54vw, 60vh, 57px);
            transform: translate3d(54vw, 60vh, 57px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(54vw, 60vh, 57px);
            transform: translate3d(54vw, 60vh, 57px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.77;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(8vw, 23vh, 33px);
          transform: translate3d(8vw, 23vh, 33px);
  background: #d98026;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(8vw, 14vh, 79px);
            transform: translate3d(8vw, 14vh, 79px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(8vw, 14vh, 79px);
            transform: translate3d(8vw, 14vh, 79px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.75;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(47vw, 32vh, 49px);
          transform: translate3d(47vw, 32vh, 49px);
  background: #d926ac;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(87vw, 53vh, 66px);
            transform: translate3d(87vw, 53vh, 66px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(87vw, 53vh, 66px);
            transform: translate3d(87vw, 53vh, 66px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.09;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(14vw, 51vh, 34px);
          transform: translate3d(14vw, 51vh, 34px);
  background: #26d9af;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(46vw, 75vh, 81px);
            transform: translate3d(46vw, 75vh, 81px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(46vw, 75vh, 81px);
            transform: translate3d(46vw, 75vh, 81px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.39;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(22vw, 77vh, 97px);
          transform: translate3d(22vw, 77vh, 97px);
  background: #2656d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(27vw, 14vh, 66px);
            transform: translate3d(27vw, 14vh, 66px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(27vw, 14vh, 66px);
            transform: translate3d(27vw, 14vh, 66px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.91;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(36vw, 28vh, 78px);
          transform: translate3d(36vw, 28vh, 78px);
  background: #d926a9;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(14vw, 77vh, 63px);
            transform: translate3d(14vw, 77vh, 63px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(14vw, 77vh, 63px);
            transform: translate3d(14vw, 77vh, 63px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.75;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(80vw, 67vh, 10px);
          transform: translate3d(80vw, 67vh, 10px);
  background: #d926b8;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(73vw, 79vh, 55px);
            transform: translate3d(73vw, 79vh, 55px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(73vw, 79vh, 55px);
            transform: translate3d(73vw, 79vh, 55px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.94;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(53vw, 9vh, 63px);
          transform: translate3d(53vw, 9vh, 63px);
  background: #8226d9;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(86vw, 58vh, 2px);
            transform: translate3d(86vw, 58vh, 2px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(86vw, 58vh, 2px);
            transform: translate3d(86vw, 58vh, 2px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.74;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(87vw, 32vh, 7px);
          transform: translate3d(87vw, 32vh, 7px);
  background: #3226d9;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(83vw, 89vh, 27px);
            transform: translate3d(83vw, 89vh, 27px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(83vw, 89vh, 27px);
            transform: translate3d(83vw, 89vh, 27px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.59;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(31vw, 43vh, 53px);
          transform: translate3d(31vw, 43vh, 53px);
  background: #26d9d0;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(21vw, 7vh, 48px);
            transform: translate3d(21vw, 7vh, 48px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(21vw, 7vh, 48px);
            transform: translate3d(21vw, 7vh, 48px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.25;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(27vw, 51vh, 62px);
          transform: translate3d(27vw, 51vh, 62px);
  background: #d9af26;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(29vw, 9vh, 32px);
            transform: translate3d(29vw, 9vh, 32px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(29vw, 9vh, 32px);
            transform: translate3d(29vw, 9vh, 32px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.18;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(75vw, 18vh, 1px);
          transform: translate3d(75vw, 18vh, 1px);
  background: #2632d9;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(79vw, 52vh, 82px);
            transform: translate3d(79vw, 52vh, 82px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(79vw, 52vh, 82px);
            transform: translate3d(79vw, 52vh, 82px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.52;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(23vw, 55vh, 42px);
          transform: translate3d(23vw, 55vh, 42px);
  background: #d95326;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(52vw, 4vh, 24px);
            transform: translate3d(52vw, 4vh, 24px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(52vw, 4vh, 24px);
            transform: translate3d(52vw, 4vh, 24px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.99;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(70vw, 85vh, 42px);
          transform: translate3d(70vw, 85vh, 42px);
  background: #26d9c1;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(67vw, 48vh, 58px);
            transform: translate3d(67vw, 48vh, 58px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(67vw, 48vh, 58px);
            transform: translate3d(67vw, 48vh, 58px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.13;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(55vw, 20vh, 49px);
          transform: translate3d(55vw, 20vh, 49px);
  background: #26d94d;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(80vw, 67vh, 84px);
            transform: translate3d(80vw, 67vh, 84px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(80vw, 67vh, 84px);
            transform: translate3d(80vw, 67vh, 84px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.58;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(84vw, 68vh, 6px);
          transform: translate3d(84vw, 68vh, 6px);
  background: #26d94d;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(50vw, 50vh, 76px);
            transform: translate3d(50vw, 50vh, 76px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(50vw, 50vh, 76px);
            transform: translate3d(50vw, 50vh, 76px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.41;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(21vw, 76vh, 44px);
          transform: translate3d(21vw, 76vh, 44px);
  background: #7726d9;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(57vw, 53vh, 69px);
            transform: translate3d(57vw, 53vh, 69px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(57vw, 53vh, 69px);
            transform: translate3d(57vw, 53vh, 69px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.56;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(20vw, 10vh, 18px);
          transform: translate3d(20vw, 10vh, 18px);
  background: #d9268e;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(10vw, 31vh, 21px);
            transform: translate3d(10vw, 31vh, 21px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(10vw, 31vh, 21px);
            transform: translate3d(10vw, 31vh, 21px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.05;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(16vw, 12vh, 62px);
          transform: translate3d(16vw, 12vh, 62px);
  background: #8bd926;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(4vw, 12vh, 45px);
            transform: translate3d(4vw, 12vh, 45px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(4vw, 12vh, 45px);
            transform: translate3d(4vw, 12vh, 45px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.78;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(12vw, 41vh, 83px);
          transform: translate3d(12vw, 41vh, 83px);
  background: #5026d9;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(77vw, 6vh, 8px);
            transform: translate3d(77vw, 6vh, 8px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(77vw, 6vh, 8px);
            transform: translate3d(77vw, 6vh, 8px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.81;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(89vw, 78vh, 77px);
          transform: translate3d(89vw, 78vh, 77px);
  background: #74d926;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(64vw, 82vh, 14px);
            transform: translate3d(64vw, 82vh, 14px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(64vw, 82vh, 14px);
            transform: translate3d(64vw, 82vh, 14px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.65;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(71vw, 84vh, 67px);
          transform: translate3d(71vw, 84vh, 67px);
  background: #d9263b;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(71vw, 3vh, 75px);
            transform: translate3d(71vw, 3vh, 75px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(71vw, 3vh, 75px);
            transform: translate3d(71vw, 3vh, 75px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.53;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(5vw, 58vh, 95px);
          transform: translate3d(5vw, 58vh, 95px);
  background: #26d99a;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(48vw, 50vh, 57px);
            transform: translate3d(48vw, 50vh, 57px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(48vw, 50vh, 57px);
            transform: translate3d(48vw, 50vh, 57px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.87;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(42vw, 54vh, 24px);
          transform: translate3d(42vw, 54vh, 24px);
  background: #26d9b8;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(79vw, 27vh, 28px);
            transform: translate3d(79vw, 27vh, 28px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(79vw, 27vh, 28px);
            transform: translate3d(79vw, 27vh, 28px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.2;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(24vw, 32vh, 78px);
          transform: translate3d(24vw, 32vh, 78px);
  background: #b826d9;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(52vw, 65vh, 81px);
            transform: translate3d(52vw, 65vh, 81px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(52vw, 65vh, 81px);
            transform: translate3d(52vw, 65vh, 81px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.43;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(79vw, 13vh, 38px);
          transform: translate3d(79vw, 13vh, 38px);
  background: #c126d9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(77vw, 14vh, 24px);
            transform: translate3d(77vw, 14vh, 24px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(77vw, 14vh, 24px);
            transform: translate3d(77vw, 14vh, 24px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.67;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(46vw, 2vh, 88px);
          transform: translate3d(46vw, 2vh, 88px);
  background: #26d97a;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(32vw, 85vh, 65px);
            transform: translate3d(32vw, 85vh, 65px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(32vw, 85vh, 65px);
            transform: translate3d(32vw, 85vh, 65px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.79;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(49vw, 27vh, 12px);
          transform: translate3d(49vw, 27vh, 12px);
  background: #d96526;
}
/*# sourceMappingURL=particles.css.map */